.big-button {
  border: none;
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  padding: 2.4rem;
  width: 100%;
  text-transform: none !important;
}

.big-button:disabled {
  opacity: 0.5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

.small-button {
  border: none;
  color: white;
  font-weight: bold;
  max-width: 40%;
  text-transform: none !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $l-size;
  margin-top: $l-size;
  display: block;
}

.btn.btn-lg {
  font-size: $m-size;
}

.medium-button {
  border: none;
  color: white;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $m-size;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2.4rem;
  width: 80%;
  text-transform: none !important;
}

.reportsModalButton {
  border: none;
  color: white;
  background-color: $coral;
  border-bottom: 2px solid darken($coral, 20%);
  font-weight: bold;
  max-width: 40%;
  text-transform: none !important;
  margin: 5px;
  display: inline-block;
  outline: none !important;
}
