input[type=text]:focus:not([readonly]) + label {
  color: $light-pink;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid $light-pink;
  box-shadow: 0 2px 0 0 $light-pink; 
}

.selectConv {
  margin-top: 3rem;
  text-align: center;
}

.chatContainer {
  height: 80vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10rem;
  overflow: scroll;
  overflow-x: hidden;
  margin-right: auto;
  margin-left: auto;
  max-width: 40%;
}

.chatContainerDiv {
  width: 100%;
}

.chatRows {
  height: 100%;
}

.col-4.sideBarChat {
  overflow: visible;
  top: 0;
  padding: 5px;
  width: 20%;
  border-right: 1px solid $coral;
}

@media screen and (max-width: 1000px) {
  .col-4.sideBarChat {
    margin-left:2vh;
    margin-bottom:2vh;
  }
  .chatContainer {
    min-width:100% !important;
    margin-top:0;
    height: 70vh;
    overflow-y:scroll;
  }

  .sideBarContent {
    display: none;
  }

  .sideBarContentMobile {
    max-width: 90% !important;
  }
}

@media screen and (min-width: 1001px) {
  .sideBarContentMobile {
    display: none;
  }
}

.sideBarContent {
  margin-top: 9.5rem;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.chatMenuButton {
  width: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: none;
}

.messagesColMenu {
  margin-top: $s-size;
}

.matchesColMenu {
  margin-top: $s-size;
}

.chatHeading {
  position: fixed;
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: lighten($light-pink, 10%);
  width: 20vh;
  height: $xl-size;
  z-index: 1000;
}

.welcomeChat {
  padding: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: lighten($light-pink, 10%);
  height: $xl-size;
}

.chatMessages { 
  padding-top: 5.8rem;
}

.rce-mbox-title.rce-mbox-title--clear {
  color: $coral;
  font-weight: 550;
  font-size: 1.5rem;
  
}

.rce-mbox.rce-mbox-right span {
  color: $gold;
}

.rce-mbox-title {
  cursor: default !important;
  text-decoration: none !important;
}

.rce-mbox-text {
  padding: 5px;
}

.rce-mbox-time {
  margin-top: 10px;
}

.message-input {
  background: white;
  color: #484d79;
  box-sizing: border-box;
  height: 10vh;
  max-height: 65px;
  margin-top: $l-size;
  margin-bottom: $s-size;
}

.message-input .message-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.message-input .message-form .form-control {
  padding-top: 24px;
  padding-bottom: 24px;
  resize: none;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
}
.message-input .message-form .form-control::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #cac8ee;
}
.message-input .message-form .form-control::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.message-input .message-form .form-control::-webkit-scrollbar-thumb {
  background-color: #484d79;
}

.message-input .message-form .send {
  width: 20%;
  box-sizing: border-box;
  font-size: 1.25em;
  text-align: center;
  border: none;
  height: 100%;
  color: #fff;
  background: #3e3e5e;
  transition: all 0.35s ease-out;
}
.message-input .message-form .send:disabled {
  opacity: 0.2;
  background: #5d5d8a;
}