.explorer-container {
  height: 90vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  margin-bottom: 10rem;
  overflow: scroll;
  overflow-x: hidden;
}

.infinite-scroll-component {
  height: 90vh;
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  margin-bottom: 10rem;
  overflow: scroll;
  overflow-x: hidden;
}

.notif-container {
  margin-top: 10rem;
}

.col-4.searchFrame {
  overflow: visible;
  margin-left: 10rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  max-width: 20%;
  border: none;
}

@media screen and (max-width: 1000px) {
  .col-4.searchFrame {
    margin-left: 2vh;
    margin-bottom: 2vh;
  }
  .explorer-container {
    min-width: 100% !important;
    height: 75vh !important;
    margin-top: 0;
  }
  .infinite-scroll-component {
    min-width: 100% !important;
    height: 75vh !important;
    margin-top: 0;
  }
  .infiniteScrollCol {
    max-width: 100% !important;
    flex: 0 0 100%;
  }
  .searchOptions {
    display: none;
  }
  .btn.peach-gradient.btn-lg.btn-rounded.Ripple-parent.small-button.explorer {
    margin-top: 10rem;
    display: block !important;
    margin-left: auto;
    margin-right: auto;
  }
  .searchOptionsMobile {
    max-width: 90% !important;
  }
  .searchCardContainer {
    min-width: 100%;
    min-height: 50%;
  }
  .ant-card.ant-card-bordered.ant-card-hoverable {
    max-width: 100%;
    max-height: 100% !important;
  }
}

@media screen and (min-width: 1001px) {
  .searchOptionsMobile {
    display: none;
  }
  .ant-card.ant-card-bordered.ant-card-hoverable {
    height: 850px;
    max-width: 100% !important;
  }
}

.ant-card.ant-card-bordered.ant-card-hoverable {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.searchOptions {
  margin-top: 10rem;
  max-width: 100%;
}

.ant-slider-step {
  background-color: $light-pink;
}

.ant-slider-handle {
  border-color: $red;
}

.ant-slider-dot-active {
  border-color: $red !important;
}

.alert-warning {
  margin-top: 0.5rem;
}

.searchTagsInput {
  background: white;
  border: none;
  color: black;
  border-bottom: 0.3rem solid darken($coral, 10%) !important;
  flex-grow: 0.7;
  font-size: 1.5rem;
  margin: 0 0 $s-size 0;
  padding: $s-size;
  outline: none !important;
}

label#searchTagsInput.active {
  outline: none !important;
}

label#searchTagsInput:focus:not([readonly]) {
  color: white;
}

.ant-select.ant-select-enabled {
  margin-top: $m-size;
  width: 100% !important;
}

.search-button {
  border: none;
  color: white;
  font-weight: bold;
  font-size: $s-size;
  margin-bottom: $s-size;
  padding: $s-size;
  width: 100%;
  text-transform: none !important;
}

.react-tags-wrapper {
  margin-top: 1rem;
}

.tag-wrapper.allSearchTags {
  color: $coral;
  font-weight: 400;
  display: inline-block;
  margin: 2px;
  margin-bottom: 5px;
  font-size: 1.1rem;
  border: 1px solid lighten($red, 20%);
  padding: 5px;
  background-color: lighten($light-pink, 10%);
}
