#logo {
    max-width: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $xl-size;
    margin-top: $xl-size;
};

#logoLogin {
    max-width: 20rem;
    display: block;
    padding-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $xl-size;
    margin-top: $xl-size;
};

#logoCreateAccount {
    max-width: 20rem;
    display: block;
    padding-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $xl-size;
    margin-top: $xl-size;
};

#logoChatContainer {
    max-width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.waitingIcon {
    display: block;
    color: lighten($light-pink, 15%);
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.searchPageIcon {
    display: block;
    color: $light-pink;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}