.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modalFeatures {
    background: $light-pink;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    margin: 0 0 $l-size 0;
    font-weight: bold;
    font-size: 1.8rem;
}

.modal__body {
    margin: 0 0 $l-size 0;
    font-size: $m-size;
    font-weight: 300;
    // word-break: word-wrap;
}