.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 100;
    z-index:1000;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modalFeatures {
    background: $light-pink;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.modal__title {
    margin: 0 0 $l-size 0;
    font-weight: bold;
    font-size: 1.8rem;
}

.modal__body {
    margin: 0 0 $l-size 0;
    font-size: $m-size;
    font-weight: 300;
}

.profilePreviewOverlay {
    position: fixed; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    background-color: rgb(255, 255, 255) !important; 
    height: auto;
    max-height:100%;
    overflow:auto;
    align-items: flex-start;
    display: inline-block !important;
}

.profilePreviewModal.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Content.ReactModal__Content--after-open.profilePreviewModal {
    margin-top: 0;
    max-height: 100%;
}    

.profilePreviewModal.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    z-index: 290 !important;
}

.profilePreviewModal.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.profilePreviewModal.modalFeatures {
    background: $light-pink;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: $l-size;
    text-align: center;
}

.profilePreviewModal.modal__title {
    margin: 0 0 $l-size 0;
    font-weight: bold;
    font-size: 1.8rem;
}

.profilePreviewModal.modal__body {
    margin: 0 0 $l-size 0;
    font-size: $m-size;
    font-weight: 300;
}

.modalButton {
    border: none;
    background-color: $coral;
    color: white;
    font-weight: bold;
    max-width: 40%;
    max-height: $l-size;
    text-transform: none !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $l-size;
    margin-top: $l-size;
    display: block;
}