.navbar-features {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lighten($coral, 5%);
  font-weight: 500;
  z-index: 999;
}

#logo-matcha-detoure {
  padding-left: 10px;
}

.logOutButton {
  border: none;
  background: transparent;
  color: #fff;
  padding: 0.5rem 1rem;
}
.logOutButton:focus {
  outline: none;
}

@media (max-width: 992px) {
  .logOutButton {
    padding-right: 6px;
    padding-left: 6px;
  }
}
