.navbar-features {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: lighten($coral, 5%);
    font-weight: 500;
    z-index: 999;
}

// .navbar-link {
//     color: $coral !important;
//     font-weight: 300;
// }

// .navbar-logo {
//     width: 50px;
// }

#logo-matcha-detoure {
    padding-left: 10px;
}