/* Example Styles for React Tags*/
.interests {
  margin-top: $l-size;
  margin-right: auto;
  margin-left: auto;
  max-width: 80%;
}
/* Styles for the input */
div.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;
  margin-top: $s-size;
  width: 100%;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  height: 31px;
  margin: 0;
  font-size: 12px;
  color: $coral;
  font-weight: 500;
  width: 100%;
  border: 1px solid lighten($light-pink, 10%);
  padding: 0 4px;
  outline: none;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid lighten($coral, 10%);
  background: lighten($light-pink, 10%);
  font-size: 16px;
  display: inline-block;
  padding: 5px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 2px;
  color: lighten($red, 5%);
  font-weight: 500;
}
div.ReactTags__selected a.ReactTags__remove {
  color: lighten($red, 5%);
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
  width: 91%;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: lighten($light-pink, 10%);
  border-bottom: 1px solid lighten($coral, 10%);
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid lighten($light-pink, 5%);
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: lighten($coral, 20%);
  cursor: pointer;
}
