html {
  font-family: -apple-technique, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  position: relative;
  height: 100%;
}

body {
  font-size: $m-size;
  min-height: 100%;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.centered-text {
  margin-top: 45px;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 10px;
}